<p>
    Hola, este es un parrafo para demostrar la funcionalidad de condicionar bloques<br>
    de texto que no queremos poner en los archivos de idiomas, ya sea por que son<br>
    muy largos o con una extructura de elementos complicada.
</p>