<p>
    Hello, this is a paragraph for show the behaviour of conditional text blocks<br>
    that we don't want to write in locale files,perhaps because they're too long<br>
    or have a complex elements structure.
</p>